@import 'settings/fonts';
@import 'settings/colors';

html, body {
  width: 100%;
  margin: 50px auto;
  font-family: $font-base;
}
a {
  text-decoration: none;
  color: $dark-grey;
}

h2 {
  font-weight: 400;
  color: $dark-grey;
}
label {
  display: block;
}
hr {
  width: 70px;
  height: 0.5px;
  color: $dark-grey;
}
li {
  list-style-type: none;
}
.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../assets/Home-Hero-Image.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -280px 0;
}

.login-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 100px 30px 0;
  position: fixed;
  top: 46px;
  right: 0;
}
.menu-button {
  margin: 0 0 0 30px;
  cursor: pointer;
}
.start-button {
  @extend .menu-button;
  padding: 10px 15px;
  border: 1px solid $dark-grey;
}
.register-button {
  @extend .start-button;
  border-color: $yellow;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  margin: 0 100px 0 100px;
  position: fixed;
  top: 90px;
  right: 0;
}
.home-header {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  line-height: 1.5em;
  font-size: 2em;
  margin: 0 100px 0 0;
  font-family: $font-base;
  color: $dark-grey;
}
.buttons {
  display: flex;
  min-width: 590px;
  justify-content: space-between;
}
.text-and-decoration {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;;
  align-items: center;
  margin-top: 210px;
}
.main-button {
  border: 1px solid $dark-grey;
  color: $dark-grey;
  background-color: white;
  text-align: center;
  width: 275px;
  cursor: pointer;
}
.decoration-image {
  width: 250px;
  height: 34px;
  margin-bottom: 50px;
  background-image: url('../assets/Decoration.svg');
}
.three-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: $yellow;
  height: 300px;
  font-size: 1.5em;
}
.first-column p:nth-of-type(1) {
  font-size: 3em;
  font-family: $font-base;
  color: $dark-grey;
  margin-bottom: 20px;
  margin-left: 150px;
}

.first-column p:nth-of-type(2) {
  font-size: 0.8em;
  font-family: $font-base;
  color: $dark-grey;
  margin-bottom: 35px;
  margin-left: 150px;
}

.first-column p:nth-of-type(3) {
  font-size: 0.6em;
  font-family: $font-alt;
  color: $dark-grey;
  margin: 0 50px 80px 150px;
}

.second-column p:nth-of-type(1) {
  font-size: 3em;
  font-family: $font-base;
  color: $dark-grey;
  margin-bottom: 20px;
}

.second-column p:nth-of-type(2) {
  font-size: 0.8em;
  font-family: $font-base;
  color: $dark-grey;
  margin-bottom: 35px;
}

.second-column p:nth-of-type(3) {
  font-size: 0.6em;
  font-family: $font-alt;
  color: $dark-grey;
  margin: 0 50px 80px 50px;
}

.third-column p:nth-of-type(1) {
  font-size: 3em;
  font-family: $font-base;
  color: $dark-grey;
  margin-bottom: 20px;
  margin-right: 150px;
}

.third-column p:nth-of-type(2) {
  font-size: 0.8em;
  font-family: $font-base;
  color: $dark-grey;
  margin-bottom: 35px;
  margin-right: 150px;
}

.third-column p:nth-of-type(3) {
  font-size: 0.6em;
  font-family: $font-alt;
  color: $dark-grey;
  margin: 0 150px 80px 50px;
}

#o-co-chodzi {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #fff;
  font-size: 1.5em;
  margin: 55px 0 150px 0;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: $light-grey;
  height: 325px;
  width: 100%;
  margin-bottom: 50px;
  font-size: 1.5em;
}

.first-icon {
  width: 120px;
  display: flex;
  font-size: 0.4em;
  color: $dark-grey;
  margin-left: 300px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.first-icon-bg {
  width: 83px;
  height: 83px;
  margin-bottom: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/Icon-1.svg');
}

.second-icon {
  width: 120px;
  display: flex;
  font-size: 0.4em;
  color: $dark-grey;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.second-icon-bg {
  width: 83px;
  height: 83px;
  margin-bottom: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/Icon-2.svg');
}

.third-icon {
  width: 120px;
  display: flex;
  font-size: 0.4em;
  color: $dark-grey;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.third-icon-bg {
  width: 83px;
  height: 83px;
  margin-bottom: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/Icon-3.svg');
}

.fourth-icon {
  width: 140px;
  display: flex;
  font-size: 0.4em;
  color: $dark-grey;
  margin-right: 300px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.fourth-icon-bg {
  width: 83px;
  height: 83px;
  margin-bottom: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/Icon-4.svg');
}
.main-button-o-co-chodzi {
  @extend .main-button;
  margin-bottom: 50px;
  padding: 10px;
  width: 200px;
}
#o-nas {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}
.o-nas-lewo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0F1F1;
  width: 50%;
}
.o-nas-text {
  text-align: center;
  color: $dark-grey;
  font-size: 1.5em;
  margin-bottom: 50px;
}
.o-nas-prawo {
  width: 50%;
  background-position: -250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../assets/People.jpg');
}
.signature {
  width: 25%;
  height: 12%;
  margin-left: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/Signature.svg');
}


.organization{
  color: $grey;
  h3{

  }
}

.border{
  color: $grey;
  h3{

  }
}

.organizations{
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    margin-top: 40px;
    font-size: 1.5rem;
  }

  ul.organization_choice{
    display: flex;
    width: 600px;
    justify-content: space-between;
    padding-left: 0;
    li{
      button{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $grey;
        height: 60px;
        width: 150px;
        padding: 10px;
        background: none;
      }
      button.active{
        border: 3px solid black;
      }
    }
  }
  p{
    color: $grey;
    width: 400px;
    margin: 30px 0;
    text-align: center;
  }
  div.organizations-details{
    display: flex;
    flex-direction: column;
    height: 240px;
    width: 800px;
    div.organization {
      font-family: $font-alt;
      border-top: 1px solid $grey;
      &:first-of-type{
        border:none
      }
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      h3{
        font-size: 1.3rem;
        font-weight: normal;
      }
      span{
        font-size: 0.8rem;
      }
      span.description{
        font-style: italic;
      }
    }
  }
  .pageButtons{
    height: 50px;
    button{
      background: none;
      padding: 10px;
      color: $grey;
      margin: 70px 10px;
    }
    button.active{
      border: 3px solid black;
    }
  }
}



.homeContact {
  margin-top: 80px;
  position: relative;
  overflow: hidden;
  &::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.25;
    background-image: url("../assets/Background-Contact-Form.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
}

.homeContact-container {
  display: flex;
  flex-direction: column;
}

.homeContact-text {
  margin-top: 200px;
  margin-bottom: 270px;
  position: relative;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.contactForm-inputWrapper {
  margin-top: 10px;
  border-bottom: 1px solid #3c3c3c;
}

.contactForm-formBox {
  display: flex;
  justify-content: center;
  margin-right: 100px;
  input {
    border: none;
    background-color: transparent;
    margin-bottom: 5px;
    &::placeholder {
      opacity: 1;
      color: #3c3c3c26;
    }
  }
}

.contactForm-inputBox {
  margin-top: 15px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  label {
    font-weight: 600;
  }
}

.contactForm-messageBox {
  textarea {
    border: none;
    border-bottom: 1px solid #3c3c3c;
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 100px;
    font-size: 1.125rem;
    &::placeholder {
      opacity: 1;
      color: #3c3c3c26;
    }
  }
}

.contactForm-errors {
  margin-right: 30px;
  padding: 10px 0;
  color: red;
}

.contactForm-buttonWrapper {
  display: flex;
  flex-direction: column;
}

.contactForm-submit {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 300;
  color: #3c3c3c;
  border: 0.75px solid #3c3c3c;
  background-color: #fff;
  align-self: flex-end;
  width: 150px;
  height: 50px;
}

.contactForm-footer {
  font-size: 1.125rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  img {
    margin: 10px;
  }
}

.main-login {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-family: $font-base;
    font-size: 1.7rem;
    font-weight: normal;
    text-align: center;
  }
}

form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-base;
  font-size: 16px;

  .form-fields {
    padding: 30px 50px 10px 50px;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #F0F1F1;
    align-items: center;

    input {
      width: 250px;
      color: #F0F1F1;
      padding-top: 10px;
      background-color: inherit;
      border: none;
      border-bottom: 1px solid black;
    }
  }
}

.single-field {
  margin-bottom: 20px;
}

.form-buttons {
  margin-top: 30px;
  width: 450px;
  display: flex;
  justify-content: space-between;

  * {
    font-family: $font-base;
    background: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border: 1px solid black;
  }
}

.empty-button {
  border: none;
}

.decoration {
  width: 260px;
  height: 30px;
  background-image: url("../assets/Decoration.svg");
}


.register {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-size: 1.7rem;
    font-weight: normal;
    text-align: center;
  }
}

form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-base;
  font-size: 16px;

  .form-fields {
    padding: 30px 50px 10px 50px;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #F0F1F1;
    align-items: center;

    input {
      width: 250px;
      color: #F0F1F1;
      padding-top: 10px;
      background-color: inherit;
      border: none;
      border-bottom: 1px solid black;
    }
  }
}

.single-field {
  margin-bottom: 20px;
}

.form-buttons2 {
  margin-top: 30px;
  width: 450px;
  display: flex;
  justify-content: space-between;

  * {
    font-family: $font-base;
    background: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border: 1px solid black;
  }
}

.empty-button {
  border: none;
}

.decoration {
  width: 260px;
  height: 30px;
  background-image: url("../assets/Decoration.svg");
}